.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa 100% da altura da viewport */
    color: #D3D3D3;
    background-color: #4C4577;

  }
  
  form {
    width: 300px; /* ou ajuste conforme necessário */
  }


  