.search{
  margin-top: 10px;
  width: 95%;
  height: 60px;
  border-radius: 8px;
  background-color: #F8F5F5;
  display: flex;
  align-items: center; /* Centraliza verticalmente os elementos dentro do contêiner */


}
.search-container {
    margin-bottom: 10px; /* Adiciona um espaço entre os componentes de pesquisa */
    background-color: transparent;
    margin-bottom: 0;
    flex: 1;

    
  }

.search-container:focus{
    outline: none; /* Remove a borda de foco padrão */
    /* Adicione seu estilo de foco personalizado aqui, como uma borda diferente ou sombreamento */
    box-shadow: 0 0 3px transparent; /* Exemplo: sombreamento ao focar */
}

.icon-search{
  height: 30px;
  margin-left: 10px;
}









