* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: #D3D3D3;
}

.pLogin {
  color: #D3D3D3;
  font-size: 13px;
  text-decoration: none;
}

.pLogin:hover {
  text-decoration: underline;

}

label{
  font-size: 12px;
}

li{
  list-style: none;
}

li:hover{
  opacity: 60%;
}


.body-container {
  display: flex;
  align-items: center; /* Ou outro valor para alinhar verticalmente */
  margin-left: 21%;
  /* Outros estilos CSS necessários */
}